    html {
	
        height:100%;
	
        margin:0;
	
        padding:0;
	
    
}



    body {
	
        height: 100%;
	
        margin: 0;
	
        background-color: #0F0F0F;
	
    
}



    p {
	 
        color:#e1e1e1;
	
    
}

        .top-bar {
        background-color:#1e1e1e;
    }

 
    
        .breadcrumbs {
	
        border:none;
	
        padding:0.98em 0.875rem 0.5625rem;
	
        background:none;
	 
    
}



    label {
	
        color:#e4e4e4;
	
    
}



    .breadcrumbs > *.current {
	
        color: #E1E1E1;
	
    
}

                        

    #teams {
	
        background-color:#1E1E1E;
	
        height: 100%;
	
        padding: 0;
	
        padding-top: 60px;
	
        float: left;
	
        margin: 0;
	
    
}



    #teams ul {
	
        padding:0;
	
    
}



    #teams li .selected {
	
        background-color: #008cba;
	
        color: black;
	
    
}


    
h1 {
	
        font-size:5em;
	
        font-family:"Segoe WP SemiLight",Verdana,Helvetica,sans-serif;
	
        text-align:center;
	
        margin-bottom: 7%;
	
        color:#e4e4e4;
	

}



h2 {
	
    font-size: 1.8em;
	
    text-align: center;
	
            font-family:"Segoe WP SemiLight",Verdana,Helvetica,sans-serif;
	
            margin-bottom:2%;
	
                    color:#e4e4e4;
	


}



#rendering {
	
height: 99%;
	
padding-top:60px;
	
overflow: hidden;
	 

}


#Overall {
   overflow:scroll;
   height:100%;
   width:100%;
}


    #dates {
	
        float: right;
	
        top: 0;
	
        position: absolute;
	
        right: 0;
	
        margin-top: 76px;
	
        margin-right: 2%;
	
        z-index:100;
	
    
}



    #small_dates label{
	
        color:#ebebeb;
	
        font-family:"Segoe WP",Verdana,Helvetica,sans-serif;
	
    
}




    .ui-datepicker table {
	
        display:none;
	
    
}



    #legend {
	
        float: right;
	
        top: -33%;
	
        position: relative;
	
        right: 0;
	
        margin-top: 0%;
	
        margin-right: 0%;
	
        z-index: 100;
	
    
}



    table {
	
        background: none;
	
        margin-bottom: 0;
	
        border: none;
	
    
}



    table tr th, table tr td {
	
        padding: 0.3rem 0.4rem;
	
        font-size: 0.875rem;
	
        color: #222222;
	
        text-align: center;
	
        background:none;
	
    
}



    th {
	
        color:#e1e1e1 !important;
	
        font-weight:200;
	
    
}




    .green {
	
		background-color: #43ac6a;
	
	
}



	.yellow {
	
		background-color: #ffff51;
	
	
}



	.red {
	
		background-color: #c52e2e;
	
        color:#ffffff;
	
	
}



    #overallstats {
	
        width: 100%;
	
        height: auto;
	
    
        margin-bottom: 3%;
	

}



    #overallstats table {
	
        height: 318px;
	
        margin:0 auto;
	
        width: 53%;
	
    
}



    #overallstats td{
	
        font-size:35px;
	
        background-color: #D2DEEF;
	
        border:1px solid white;
	
        text-align:left;
	
        padding:10px;
	
    
}



    #overallstats .secondary {
	
        background-color:#EAEFF7;
	
    
}



    #overallstats .text {
	
        font-size:20px;
	
    
}



    #overallstats .green {
	
		background-color: #43ac6a;
	
	
}



	#overallstats .yellow {
	
		background-color: #ffff51;
	
	
}



    #overallstats .red {
	
		background-color: #c52e2e;
	
        color:#ffffff;
	
	
}



    #chartdiv {
	
	    width	: 30%;
	
	    height	: auto;
	
    
}

	


    #loading {
	
        display: none;
	
        z-index: 100;
	
        width: 100%;
	
        text-align: center;
	
        position: absolute;
	
        height: 100%;
        		top: 0;
	
        background-color: rgba(0, 0, 0, 0.93);
	
    
}



	#loading h1 {
	
		margin-bottom: 1%;
	
        margin-top: 18%;
	
        font-family: "Segoe WP",Verdana,Helvetica,sans-serif;
	
	
}



	#loading img {
	
		width:100px;
	
		height:100px;
	
		margin:0 auto;
	
	
}



    @media only screen and (max-width: 40em) {
	

    
}
